.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 65px);
}

.signup form {
   background-color: #fff;
   padding: 20px 15px;
   border-radius: 7px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   width: 400px;
   height: 300px;
}

.signup form .button , .signup form .create-account,.signup form .google {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -5px;
    width: 100%;
}
.signup form .link {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}


.signup .inputs-container .input-field {
   width: 100%;
}

.signup .inputs-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}