.main {
    width: 630px;
    display: flex;
    flex-direction: column;
    padding-left: 84px;
    gap: 20px;
}

@media only screen and (max-width: 600px) {
    .main {
        padding-left: 0;
        margin-bottom: 200px;
    }
  }